#btn1 {background-color: white; 
	padding-right: 250px; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 10px;}

	
#btn2 {background-color: white; padding: 10px;}

#btn3 {background-color: black; color: white; padding:10px};