.list-inline {list-style: none; padding-left: 15px;}
.list-inline {font-size: 20px ;}

.list-inline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;}

  .card {width: 300px;}